@import 'tailwindcss';

@theme {
  --color-aurora-50: #edf4ff;
  --color-aurora-100: #dae7ff;
  --color-aurora-200: #b7cdff;
  --color-aurora-300: #89abff;
  --color-aurora-400: #5e84f1;
  --color-aurora-500: #0d4fdc;
  --color-aurora-600: #0942bc;
  --color-aurora-700: #05369c;
  --color-aurora-800: #082d7f;
  --color-aurora-900: #0b255f;

  --color-coral-50: #fdeeed;
  --color-coral-100: #fcd8d5;
  --color-coral-200: #f8b2ac;
  --color-coral-300: #f2867d;
  --color-coral-400: #eb574c;
  --color-coral-500: #e52a20;
  --color-coral-600: #c91f16;
  --color-coral-700: #a51a14;
  --color-coral-800: #871915;
  --color-coral-900: #541110;

  --color-moss-50: #f8f9fc;
  --color-moss-100: #f2f3f7;
  --color-moss-200: #e5e7ef;
  --color-moss-300: #d2d5e1;
  --color-moss-400: #b5b9cc;
  --color-moss-500: #999fb6;
  --color-moss-600: #7c839b;
  --color-moss-700: #525975;
  --color-moss-800: #2b3145;
  --color-moss-900: #10131f;
}

@layer base {
  /* body {
    @apply min-h-screen text-[#10131f] antialiased;
  } */
}
